/* styles.css */
/* Define the button style */

body {
    background-color: #191919;
    font-family: Inter, sans-serif;
    font-weight: 900;
}

.rounded-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    border-radius: 8px; /* Rounded corners */
    color: black; /* Green text color */
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Transition on hover */
    margin-right: 10px;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the container height to 100% of the viewport height */
}

.pink-button {
    color: #D7678B
}

.pink-button:hover {
    background-color: #D7678B;
    color: white; 
}

.green-button {
    color: #588157;
}

.green-button:hover {
    background-color: #588157; 
    color: white; 
}
